.App {
  text-align: center;
}

.background-img{
  position:absolute;
  background-color: #deedd6;
  height: 220px;
  width:100%;
  background-image: url(../public/instacart-background.webp);
  background-repeat:no-repeat;
  background-position: right center;
  z-index: -1;
  color: rgb(122, 122, 122)
}

